.movieCard {
  display: flex;
  gap: 10px;
  padding-bottom: 7px;
}

.posterCard {
  width: 200px;
}

.posterCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.highlightTitle {
  font-weight: 700;
}

.additionalInfoBlock {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.additionalInfoBlock li {
  list-style-type: disc;
}
